<div id="mercado-pago-gateway-checkoutpro-card-fields">
  <div class="mp-messages"></div>
  <div class="mercado-pago-gateway-card-fields-wrapper">
    <label for="mercado-pago-gateway-card-number">{{ 'Card Number'|t }}</label>
    <div id="mercado-pago-gateway-card-number" class="mercado-pago-gateway-checkout-custom-card-field"></div>
    <label for="mercado-pago-gateway-expiration-date">{{ 'Expiration Date'|t }}</label>
    <div id="mercado-pago-gateway-expiration-date" class="mercado-pago-gateway-checkout-custom-card-field"></div>
    <label for="mercado-pago-gateway-cvv">{{ 'CVV'|t }}</label>
    <div id="mercado-pago-gateway-cvv" class="mercado-pago-gateway-checkout-custom-card-field"></div>
    <div id="payments-sdk__contingency-lightbox"></div>
  </div>
</div>
